body { 
    background-color: black;
    color: white;
}

a {
    color: green;
}

#navlist ul {
    list-style-type: none;
}
#navlist li {
    display: inline-block;
    padding: 1px;
}

#navlist a {
    color: green;
    text-decoration:none;
    font-weight: bold;
    font-size: 150%;
}

#navlist li#active {
    border-color: green;
    border-width: 1px;
    border-style: dotted;
    padding: 0px;
}

#navlist li:hover {
    border-color: white;
    border-width: 1px;
    border-style: dotted;
    padding: 0px;
}

.title {
    display: block;
    position: relative;
    left: 40px;
    color: #D1D1D1
}
