$var name: about
$var title: About 
$var cssfiles: 

<h1 class="title">About</h1>
<p> 
    BAP is a Korean boy band that debuted in 2012. For more information, visit 
    <a href="http://www.youtube.com/user/TSENT2008">B.A.P's official youtube channel</a> or 
    <a href="http://www.bapyessirfansite.com">B.A.P's international fansite</a>.
</p>
<p>The news articles are aggregated from the following sites:</p>
<ul>
    <li>allkpop.com</li>
    <li>kpopstarz.com</li>
</ul>

<p>Fan page by Marisa Chang and Eddy Yeo</p>
