$var name: discography
$var title: Discography
$var cssfiles: disc.css 

<h1 id="title">B.A.P Discography</h1>

<div class="album">
    <h2>Warrior</h2>
    <h3>Release Date: January 27th, 2012</h3>
    <img src="http://upload.wikimedia.org/wikipedia/en/7/7f/B.A.P_Warrior_EP_Cover.jpg"> 
    <ol>
        <li>Burn It Up (Intro)</li>
        <li>Warrior</li>
        <li>Unbreakable</li>
        <li>Secret Love</li>
    </ol>
    <div id="videos">
        <iframe  
            width="640" height="360" 
            src="http://www.youtube.com/embed/5tLooPlf2Sw?feature=player_detailpage" 
            frameborder="0" allowfullscreen>
        </iframe>
        <iframe 
            width="640" height="360" 
            src="http://www.youtube.com/embed/hlOdbs1_FmQ?feature=player_detailpage" 
            frameborder="0" allowfullscreen>
        </iframe>
    </div>
    <div class="space"></div>
</div>

<div class="album">
    <h2>Power</h2>
    <h3>Release Date: April 27th, 2012</h3>
    <img src="http://upload.wikimedia.org/wikipedia/en/6/62/B.A.P_Power_EP_Cover.jpg"> 
    <ol>
        <li>Fight For Freedom (Intro)</li>
        <li>Power</li>
        <li>What The Hell</li>
        <li>It's All Lies</li>
    </ol>
    <div id="videos">
        <iframe  
            width="640" height="360" 
            src="http://www.youtube.com/embed/eBSaX3jvyEc?feature=player_detailpage" 
            frameborder="0" allowfullscreen>
        </iframe>
    </div>
    <div class="space"></div>
</div>



