<img src="static/images/home-byg.jpg" height="500px"
   style="position: absolute; left: 125px;"/>
<img src="static/images/home-hc.jpg" height="500px"
   style="position: absolute; left: 300px;"/>
<img src="static/images/home-dh.jpg" height="500px"
   style="position: absolute; left: 450px;"/>
<img src="static/images/home-yj.jpg" height="500px"
   style="position: absolute; left: 600px;"/>
<img src="static/images/home-ju.jpg" height="500px"
   style="position: absolute; left: 750px;"/>
<img src="static/images/home-zelo.jpg" height="500px"
   style="position: absolute; left: 900px;"/>


